VITE_FIREBASE_API_KEY="AIzaSyArg0ZchND1oauOq932hg-bX3JXUctdpW4"
VITE_FIREBASE_AUTH_DOMAIN="anticcareale.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="anticcareale"
VITE_FIREBASE_STORAGE_BUCKET="anticcareale.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="394629292480"
VITE_FIREBASE_APP_ID="1:394629292480:web:417db33b9fc0a0b91a2825"
VITE_FIREBASE_MEASUREMENT_ID="G-95JPJ4PNJH"

# Google reCAPTCHA v2 (Checkbox) - Official Production Key
VITE_RECAPTCHA_SITE_KEY="6Le7V3ksAAAAAJGBISl8_Jrde_YM66U2yAC3nuMf"
